# Archivo de variables de entorno global para Docker Compose (VidaSalud EP1)
# Frontend (React 19 + MSAL)
VITE_AZURE_CLIENT_ID=00000000-0000-0000-0000-000000000000
VITE_AZURE_TENANT_ID=common
VITE_API_SCOPE=api://00000000-0000-0000-0000-000000000000/access_as_user
VITE_API_GATEWAY_URL=http://localhost:8080

# Backend BFF (Spring Boot 3.5 + Java 21)
AZURE_TENANT_ID=common
AZURE_API_CLIENT_ID=00000000-0000-0000-0000-000000000000
SPRING_PROFILES_ACTIVE=dev
